.actionbtn-container
  .action-buttons
    a.action-consume.rounded-x(href='/consume',active)
      h3 消费
  .action-buttons
    a.action-new-member.rounded-x(href='/newmember')
      h3 新会员
  .action-buttons
    a.action-deposit.rounded-x(href='/deposit')
      h3 充值
  .action-buttons
    a.action-query.rounded-x(href='/query')
      h3 查询
  .action-buttons
    a.action-coupon.rounded-x(href='/coupons')
      h3 优惠活动