<!-- <div class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-20">
                    <div id="mc_embed_signup">
                        <form action="//kimatech.us9.list-manage.com/subscribe/post?u=7a4c9c769a5e2c3df7e85f396&amp;id=646e4987e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="headline">
                                <h2>Subscribe Our Newsletter</h2>
                            </div>
                            <div class="input-group">
                                <input type="email" class="form-control" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                              <span class="input-group-btn">
                                <button type='submit' class="btn btn-danger" type="button">Subscribe</button>
                              </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-4 md-margin-bottom-20">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="/about">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/products">Product Portfolio</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/events">Latest Events</a><i class="fa fa-angle-right"></i></li><li><a href="/solutions/electronics">Solutions</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>

                <div class="col-md-4 map-img md-margin-bottom-20">
                    <div class="headline"><h2>Address</h2></div>
                    <ul class="list-unstyled who margin-bottom-30">
                        <li><i class="fa fa-home"></i>NO.251 Wenji Rd, Songjiang District of Shanghai, China</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:support@huitian.net.cn">support@huitian.net.cn</a></li>
                        <li><i class="fa fa-phone"></i>(+86)21 57749675</li>
                        <li><i class="fa fa-phone"></i>(+86)21 57743399 ext 8291/8290/8287</li>
                        <li><i class="fa fa-fax"></i>(+86)21 57743399</li>
                        <li><i class="fa fa-globe"></i><a href="http://www.huitian.net.cn">www.huitian.net.cn</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </div> -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">                     
                <p>
                    2015 &copy; Kimatech All Rights Reserved. 
                </p>
            </div>
        </div>
    </div> 
</div>