head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title Speed Queen Membership and Payment System
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name='keywords',content='')
  meta(name="description", content="")
  meta(name='author' content='Kimatech')


  //- link(href='/imgs/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
  //- link(href="/libs/flat-ui/dist/css/flat-ui.css",rel="stylesheet")

  link(rel='stylesheet', href='/css/signin.css')

  //- link(rel='stylesheet', href='/css/plugins/line-icons.css')
  | <!--[if lt IE 9]><script src='/plugins/html5shiv.min.js'></script><script src='/plugins/respond.min.js'></script><![endif]-->
  | <!--[if IE 8]><link rel='stylesheet' href='/css/ie8.css'><![endif]-->

  //- //if lt IE 9
  //-   script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  //-   script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')