.header
  .navbar.navbar-default.mega-menu(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          span.sr-only Toggle navigation
          span.fa.fa-bars
        a.navbar-brand(href='/')
          //- img#logo-header(src='/huitian/logo1.png', alt='Logo')
      .collapse.navbar-collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
          li#home_link.active.navigation-link
            a(href='/') Home
          li#products_link.navigation-link
            a(href='/upload') Upload
          li#products_link.navigation-link
            a(href='#') mutifile upload
          li#products_link.navigation-link
            a(href='/summernote') summernote
          li#solutions_link.dropdown.navigation-link
            a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown')
              | Solutions
            ul.dropdown-menu
              li
                a(href='/solutions/newenergy') New Energy Material
              li
                a(href='/solutions/electronics') Electronics and Appliances
              li
                a(href='/solutions/autocare') Auto Care and Maintenance
              li
                a(href='/solutions/transportation') General Industrial
              li
                a(href='/solutions/construction') Construction
          li#about_link.dropdown.navigation-link
            a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown')
              | About
            ul.dropdown-menu
              li
                a(href='/about') About
              li
                a(href='/branches') Branches
              li
                a(href='/certifications') Certifications
              li
                a(href='/culture') Culture
              li
                a(href='/clients') Our Clients
          li#events_link.navigation-link
            a(href='/events') Events
          li#contact_link.navigation-link
            a(href='/contact') Contact
          if user
            li
              a(href='/admin') Admin
