extends ../layouts/flat_template

block content
  .container.main-content
    .row
      .col-md-2
        include ../includes/actionbuttons
      .col-md-10
        .category-list
          .catetory-item
            a.catetory-link.rounded(href='#') 洗涤
          .catetory-item
            a.catetory-link.rounded(href='#') 烘干
          .catetory-item
            a.catetory-link.rounded(href='#') 去渍
          .catetory-item
            a.catetory-link.rounded(href='#') 熨烫
        .devider.devider-dotted
        .row
          .form-horizontal.margin-top-20
            .form-group
              label.control-label.col-sm-2(for='clothnumber') 件数
              .col-sm-3
                input.form-control#clothnumber(type='text',placeholder='件数')
            .form-group
              label.control-label.col-sm-2(for='clothsize') 大小件
              .col-sm-3
                input.form-control#clothsize(type='text',placeholder='大小件')
            .form-group
              label.control-label.col-sm-2(for='washprice') 价格
              .col-sm-3
                input.form-control#washprice(type='text',placeholder='价格')
            .row
              .col-sm-3.col-sm-offset-2
                button.btn.btn-primary(type='submit') 读卡消费

block customescript
   script.
    $(function(){
      $('.action-consume').addClass('active');
     $('.catetory-link').click(function(ev){
      $('.catetory-link').removeClass('category-selected');
      $(this).addClass('category-selected');
     });
    });