extends ../layouts/flat_template

block content
  .container.main-content
    .row
      .col-md-2
        include ../includes/actionbuttons
      .col-md-10.action-form
        h2 充值优惠
        .coupon-list-menu
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x
          .coupon-item.rounded-3x

        .devider.devider-dotted
        .form-horizontal.margin-top-20
            .form-group
              label.control-label.col-sm-2(for='depositsum') 充值金额
              .col-sm-3
                input.form-control#depositsum(type='text',placeholder='充值金额')
            .row
              .col-sm-3.col-sm-offset-2
                button#depositToMembershipCard.btn.btn-primary(type='button') 存入会员卡

    .modal.fade#depositModal(tabindex='-1',data-keyboard="false",data-backdrop="static",role='dialog',aria-labelledby='depositModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal',aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title 等待读取客户信息
          .modal-body
            h3#notify_text_area
            #meberInfoBox
            input#notify_msg(type='text')
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') 关闭
            button.btn.btn-primary#saveDepositBtn 存入账号

block customescript
   script.
    $(function(){
      $('.action-deposit').addClass('active');
      $('#depositsum').focus();
      $(document).keypress(function(ev){
        if(ev.keyCode=='13'){
          if($('#depositsum').val()){
            $('#depositToMembershipCard').trigger('click');
          }
        }
      });

      $('#saveDepositBtn').hide();
      $('#saveDepositBtn').click(function(){
        alert('save to account');
      });
      

      $('#depositToMembershipCard').click(function(ev){
        $('#depositModal').modal('show');
          $('#notify_text_area').html('请刷会员卡..........');
          $('#notify_msg').val("");
        var prepareTime=Date.now();     
        var scanTimer=setInterval(function(){
          $.get("/api/getTargetCard",function(data){
            if(data.scanat>prepareTime){
              $('#notify_text_area').html('读取成功');
              $('#meberInfoBox').html("用户姓名，账号余额，加值金额，赠送金额，手机号码。。。。")
              $('#notify_msg').val(data.cardid);
              clearInterval(scanTimer);
              $('#saveDepositBtn').show();
            }
          });
        },2000);
      });
    });