extends ../layouts/flat_template

block content
  .container.main-content
    .row
      .col-md-2
        include ../includes/actionbuttons
      .col-md-10.action-form
        h2 新会员活动套餐
        .new-member-menu
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x

        .devider.devider-dotted
        .form-horizontal.margin-top-20
            .form-group
              label.control-label.col-sm-2(for='customername') 姓名
              .col-sm-3
                input.form-control#customername(type='text',placeholder='姓名')
            .form-group
              label.control-label.col-sm-2(for='mobile') 手机号码
              .col-sm-3
                input.form-control#mobile(type='text',placeholder='手机号码')
            .form-group
              label.control-label.col-sm-2(for='customerage') 年龄
              .col-sm-3
                input.form-control#customerage(type='text',placeholder='年龄')
            .form-group
              label.control-label.col-sm-2(for='depositsum') 充值金额
              .col-sm-3
                input.form-control#depositsum(type='text',placeholder='充值金额')
            .row
              .col-sm-3.col-sm-offset-2
                button.btn.btn-primary(type='submit') 创建新会员

block customescript
   script.
    $(function(){
      $('.action-new-member').addClass('active');
    });