extends ../layouts/flat_template

block content
  .container.main-content
    .row
      .col-md-2
        include ../includes/actionbuttons
      .col-md-10.action-form
        h2 新会员活动套餐
        .new-member-menu
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x

        .devider.devider-dotted
        .form-horizontal.margin-top-20
            .form-group
              label.control-label.col-sm-2(for='customername') 姓名
              .col-sm-3
                input.form-control#customername(type='text',name='customerName',placeholder='姓名')
            .form-group
              label.control-label.col-sm-2(for='mobile') 手机号码
              .col-sm-3
                input.form-control#mobile(type='text',name='mobile',placeholder='手机号码',required)
            .form-group
              label.control-label.col-sm-2(for='customerage') 年龄
              .col-sm-3
                input.form-control#customerage(type='text',name='age',placeholder='年龄')
            .form-group
              label.control-label.col-sm-2(for='depositsum') 充值金额
              .col-sm-3
                input.form-control#depositsum(type='text',name='balance',placeholder='充值金额',required)
                input(type='hidden',name='depositNumber')
                input(type='hidden',name='donateNumber')
            .row
              .col-sm-3.col-sm-offset-2
                button.btn.btn-primary#createNewMemberCardBtn 制作会员卡
    
    .modal.fade#newMemberModal(tabindex='-1',data-keyboard="false",data-backdrop="static",role='dialog',aria-labelledby='depositModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal',aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title 创建新会员卡
          .modal-body
            h3#notify_text_area
            #meberInfoBox
            input#notify_msg(type='text')
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') 关闭
            button.btn.btn-primary#createNewMemberBtn 创建新会员

block customescript
   script.
    $(function(){
      $('.action-new-member').addClass('active');
     $('.catetory-link').click(function(ev){
      $('.catetory-link').removeClass('category-selected');
      $(this).addClass('category-selected');
     });
     $('#customername').focus();
     $(document).keypress(function(ev){
      if(ev.keyCode=='13'){
        alert('submit!!');
      }
     });


      $('#createNewMemberBtn').hide();
      $('#createNewMemberBtn').click(function(){
        alert('create New Member');
      });
      

      $('#createNewMemberCardBtn').click(function(ev){
        $('#newMemberModal').modal('show');
          $('#notify_text_area').html('请刷会员卡..........');
          $('#notify_msg').val("");
        var prepareTime=Date.now();     
        var scanTimer=setInterval(function(){
          $.get("/api/getTargetCard",function(data){
            if(data.scanat>prepareTime){
              $('#notify_text_area').html('读取成功');
              $('#meberInfoBox').html("用户姓名，账号余额，加值金额，赠送金额，手机号码。。。。")
              $('#notify_msg').val(data.cardid);
              clearInterval(scanTimer);
              $('#createNewMemberBtn').show();
            }
          });
        },2000);
      });


    });