extends ../layouts/flat_template

block content
  .container
    .row
      ul.nav.nav-tabs
        li
          a(href='/users') 帐号管理
        li
          a(href='/clients') 客户信息管理
        li
          a(href='/roles') 角色管理
        li
          a(href='/matrix') 权限管理
  .container
    .row
      h2 权限管理
      each permit in permits
        ul.list-unstyled
          li 
            a.btn.btn-danger.btn-xs.remove-role-btn(href='#',data-permit-id="#{permit._id}")
              i.fa.fa-trash-o
            | #{permit.permitname} 
      .row
        .col-md-6
          form(method="POST", action="/permit")
            .input-group
              input.form-control(type='text',name='permitname',placeholder='new permit name')
              span.input-group-btn
                button.btn.btn-primary(type='submit') 新权限
block customescript
   script.
    $(function(){
      $('.remove-role-btn').click(function(e){
          e.preventDefault();
          var permit_id=$(e.currentTarget).data('permit-id');
          if(confirm('Delete this Permit?')){
            $.post('/permit/'+permit_id,function(){
              window.location.reload();
            });
          }
        });
    });
