extends ../layouts/auth_template

block content
  form.form-login(method='post')
    h2.form-login-heading 申请表格
    .login-wrap
        label(for='name') 姓名
        input.form-control(type='text', name='name', value='', placeholder='姓名', autofocus=true,required)
        label(for='email') 邮箱
        input.form-control(type='email', name='email', value='', placeholder='邮箱',required)
        label(for='phone') 手机号码
        input.form-control(type='text', name='phone', value='', placeholder='手机号码',required)
        label(for='company') 公司名称
        input.form-control(type='text', name='company', value='', placeholder='公司名称',required)
        //- button.btn.btn-primary(type='submit') 提交申请
        br
        a.btn.btn-primary(href='#') 提交申请
block customescript
  script(src='/libs/jquery-backstretch/jquery.backstretch.min.js')
  script.
    $.backstretch("/images/bg/login.jpg",{speed:500});