extends ../layouts/auth_template

block content
  form.form-login(method='POST')
    h2.form-login-heading 重置密码
    .login-wrap
      .form-group
        label(for='password') 新密码
        input.form-control(type='password', name='password', value='', placeholder='新密码', autofocus=true)
      .form-group
        label(for='confirm') 确认密码
        input.form-control(type='password', name='confirm', value='', placeholder='确认密码')
      .form-group
        button.btn.btn-primary(type='submit') 更新密码
    include ../partials/flash
      //- if error && error.length
      //-   .fade.in.alert.alert.danger
      //-     p #{error}
block customescript
  script(src='/libs/jquery-backstretch/jquery.backstretch.min.js')
  script.
    $.backstretch("/images/bg/login.jpg",{speed:500});