extends ../layouts/default
block content
  h2 test
  form#newCategoryForm(role='form',method="POST",action="/category",enctype='application/x-www-form-urlencoded')
  .form-group
    label(for='newCategoryPic') Picture
    span.btn.btn-success.fileinput-button
      i.glyphicon.glyphicon-plus
      span Select file...
      // The file input field used as target for the file upload widget
      input#category_upload(type='file', name='files[]', data-url='/upload/category')
    br
    br
    // The global progress bar
    #progress.progress
      .progress-bar.progress-bar-success
    // The container for the uploaded files
    #files.files
block customescript
  script(type='text/javascript', src='/libs/jquery-file-upload/js/vendor/jquery.ui.widget.js')
  script(type='text/javascript', src='/libs/jquery-file-upload/js/jquery.iframe-transport.js')
  script(type='text/javascript', src='/libs/jquery-file-upload/js/jquery.fileupload.js')
  script.
    $(function(){
      $('#category_upload').fileupload({
        //- url:'/upload'
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<input />').attr('type','hidden')
                  .attr('name','category_main_pic')
                  .attr('value','/uploads/category/'+file.name)
                  .appendTo('#files');
                $('<img />').attr('src','/uploads/category/'+file.name).addClass('img-responsive').appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
      }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });