extends ../layouts/default
block content
  h2 summernote
  #product_description
  hr 
  #addtionalInfomation
  hr 
  #sub_product_description
  hr
  #item_description

  
block customescript
  script(type='text/javascript', src='/libs/summernote/dist/summernote.min.js')
  script.
    $(function(){
      $('#product_description').summernote({
        height:200,
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']]
          ]
      });

      $('#addtionalInfomation').summernote({
        height:300,
        minHeight:200,
        mxHeight:null
      });

      $('#sub_product_description').summernote({
        maxHeight:250,
        airMode:true
      });

      $('#item_description').summernote({
        height:250,
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
          ]
      });
    });